
  .content {
    width: 320px; 
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background: #000;
    overflow: hidden;
  }
  .primary {
    color: #fff;
  }
  .content >  img { 
    width: 300px;
    height: 200px;
    border: 1px solid #fff;
  }
  