.fz-0 {
    font-size: 0;
}
.fz-18 {
    font-size: .18rem;
}
.fz-16 {
    font-size: .16rem;
}
.fz-14 {
    font-size: .14rem;
}
.fz-12 {
    font-size: .12rem;
}
.fw-700 {
    font-weight: 700;
}
.ta-c {
    text-align: center;
}