nav {
    background: #29b078;
}
.logo {
    width: 1.2rem;
    height: .52rem;
    background: url(../item-css/task14-15/images/www.jnshu.png) 0 50% no-repeat;
}
.cake {
    width: 100%;
    height: 100%;
}
.cake input[type="checkbox"] {
    display: none;
}
.menu {
    position: absolute;
    top: .09rem;
    right: .2rem;
    bottom: .08rem;
    padding: .08rem .08rem;
    height: .34rem;
    border: 1px solid #fff;
    background: #47d197;
}
.nav-bar {
    margin-bottom: .05rem;
    width: .26rem;
    height: .02rem;
    border-bottom: 2px solid #fff;
}
.nav-bar:nth-of-type(3) {
    margin-bottom: 0;
}
.cake > .sky {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    background: #29b078;
}
.open {
    list-style: none;
}
.navbar > a {
    color: #fff;
}
.bag {
    display: flex;
    align-items: center;
    position: relative;
}
.menu {
    display: none;
}
.navs {
    text-align: right;
    width: 100%;
    height: .52rem;
    font-size: .16rem;
    font-weight: 700;
}
.navbar {
    display: inline-block;
    text-align: center;
    width: .5rem;
    padding: .15rem 0;
}
.navbar:hover {
    border-bottom: 2px solid #fff;
}

@media screen and (max-width: 768px) {
    .bag {
        position: relative;
    }
    input[type=checkbox]:checked ~ .sky {
        display: block;
    }
    .sky {
        display: none;
        font-size: .15rem;
    }
    .sky {
        text-align: center;
        margin-top: -4px;
    }
    .open {
        padding: 5px 0;
    }
    .navbar:hover {
        border-bottom: 1px solid #fff;
    }
}

